@import url(http://fonts.googleapis.com/css?family=Roboto);

html * {
	font-family: 'Roboto';
	font-size: 14px;
	color: #333;
	background-color: transparent;
}

a:link {
	color:blue;
}


td tr{
	border-bottom: none;
}

table, tr{
	border-bottom: 1px solid grey;
	border-collapse : collapse;
	
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif !important;
  pointer-events: none;
}

div.tooltip {   
	position: absolute;           
	text-align: center;           
	padding: 2px;             
	font: 12px sans-serif !important;        
	background: lightgrey;   
	border: 0px;      
	pointer-events: none;         
}


