@import url(http://fonts.googleapis.com/css?family=Roboto);

html * {
	font-family: 'Roboto';
	font-size: 14px;
	color: #333;
	background-color: transparent;
}

table,td,tr {
	border-collapse: collapse;
}

td {
	border-bottom: 1px solid #B3ACAC;
	padding-right: 25px;
}

#headline {
	font-weight: bold;
}

#uri {
	color: blue;
	font-weight: normal;
}
